parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - migrations
        - tests
    tmpDir: ../../var/phpstan/security
    stubFiles:
        - stubs/PredisClient.stub
    scanFiles:
        - stubs/PredisClient.stub
