<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheResult="false"
    executionOrder="depends,defects"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Codemonster Security Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>

